body {
  font-family: sans-serif;
}

dt {
  font-weight: bold;
}

dd + dt {
  margin-top: 1em;
}

dd p {
  margin: 0.5em 0;
}

#new-item {
  display: grid;
}

#new-item input,
#new-item select,
#new-item textarea {
  grid-column-start: 2;
  grid-column-end: 8;
}

#new-item button[type="submit"] {
  margin-top: 0.5em;
  grid-column: 7;
}

:root {
  --bg-color: #222;
  --bg-sunken-color: #000;
  --border-color: #555;
  --fg-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #aaa;
    --bg-sunken-color: #eee;
    --border-color: #555;
    --fg-color: #222;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

input:not([type="color"]),
textarea {
  background-color: var(--bg-sunken-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--fg-color);
}

textarea {
  resize: none;
}
